@{
    ViewData["Title"] = "Shortener";
}

@model CreateUrlViewModel

<h3 class="display-4 mb-4">
    URL Shortener
</h3>
<form asp-controller="shorturl" asp-action="@nameof(ShortUrlController.AddUrl).ToLower()" method="post" class="create-url">
    <div class="row form-group">
        <div class="col-2 text-center">
            <label for="url" class="mt-3">Enter URL</label>
        </div>
        <div class="col-8">
            <input asp-for="Url" class="form-control form-control-lg col-12" />
            <div asp-validation-summary="All" class="text-danger mt-3"></div>
        </div>
        <div class="col-2 mt-1">
            <button type="submit" class="btn btn-primary mb-2 col-12">Shorten</button>
        </div>
        @if (Model != null && !string.IsNullOrEmpty(Model.ShortUrl))
        {
            <div class="offset-2 col-8 mt-2"><a class="short-url" href="@Model.ShortUrl" target="_blank">@Model.ShortUrl</a></div>
            <div class="col-2 mt-1">
                <button type="button" class="btn btn-info btn-copy">Copy</button>
            </div>
        }
    </div>
</form>